{% extends 'base.html' %}

{% block content %}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static '../static/style.css' %}">
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    

        <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
      <br>
      <br>
        <img src="{% static 'image/decor1.jpeg' %}"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post">
        {% csrf_token %}
         

              <div class="form-group">
            <label for="id_username" >Username:</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="store/register"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  
</section>
    
{% endblock %}